appnope==0.1.4 ; platform_system == "Darwin" and python_full_version == "3.10.14"
asttokens==2.4.1 ; python_full_version == "3.10.14"
build==1.2.1 ; python_full_version == "3.10.14"
cachecontrol[filecache]==0.14.0 ; python_full_version == "3.10.14"
certifi==2024.2.2 ; python_full_version == "3.10.14"
cffi==1.16.0 ; (sys_platform == "darwin" or implementation_name == "pypy") and python_full_version == "3.10.14" or sys_platform == "linux" and python_full_version == "3.10.14" and platform_python_implementation != "PyPy"
cfgv==3.4.0 ; python_full_version == "3.10.14"
charset-normalizer==3.3.2 ; python_full_version == "3.10.14"
cleo==2.1.0 ; python_full_version == "3.10.14"
colorama==0.4.6 ; python_full_version == "3.10.14" and (os_name == "nt" or sys_platform == "win32")
comm==0.2.2 ; python_full_version == "3.10.14"
crashtest==0.4.1 ; python_full_version == "3.10.14"
cryptography==42.0.7 ; sys_platform == "linux" and python_full_version == "3.10.14"
debugpy==1.8.1 ; python_full_version == "3.10.14"
decorator==5.1.1 ; python_full_version == "3.10.14"
distlib==0.3.8 ; python_full_version == "3.10.14"
dulwich==0.21.7 ; python_full_version == "3.10.14"
exceptiongroup==1.2.1 ; python_full_version == "3.10.14"
executing==2.0.1 ; python_full_version == "3.10.14"
fastjsonschema==2.19.1 ; python_full_version == "3.10.14"
filelock==3.14.0 ; python_full_version == "3.10.14"
identify==2.5.36 ; python_full_version == "3.10.14"
idna==3.7 ; python_full_version == "3.10.14"
importlib-metadata==7.1.0 ; python_full_version == "3.10.14"
installer==0.7.0 ; python_full_version == "3.10.14"
ipykernel==6.29.4 ; python_full_version == "3.10.14"
ipython==8.24.0 ; python_full_version == "3.10.14"
jaraco-classes==3.4.0 ; python_full_version == "3.10.14"
jedi==0.19.1 ; python_full_version == "3.10.14"
jeepney==0.8.0 ; sys_platform == "linux" and python_full_version == "3.10.14"
jupyter-client==8.6.1 ; python_full_version == "3.10.14"
jupyter-core==5.7.2 ; python_full_version == "3.10.14"
keyring==24.3.1 ; python_full_version == "3.10.14"
matplotlib-inline==0.1.7 ; python_full_version == "3.10.14"
more-itertools==10.2.0 ; python_full_version == "3.10.14"
msgpack==1.0.8 ; python_full_version == "3.10.14"
mypy-extensions==1.0.0 ; python_full_version == "3.10.14"
mypy==1.10.0 ; python_full_version == "3.10.14"
nest-asyncio==1.6.0 ; python_full_version == "3.10.14"
nodeenv==1.8.0 ; python_full_version == "3.10.14"
packaging==24.0 ; python_full_version == "3.10.14"
parso==0.8.4 ; python_full_version == "3.10.14"
pexpect==4.9.0 ; python_full_version == "3.10.14"
pkginfo==1.10.0 ; python_full_version == "3.10.14"
platformdirs==4.2.1 ; python_full_version == "3.10.14"
poetry-core==1.9.0 ; python_full_version == "3.10.14"
poetry-plugin-export==1.7.1 ; python_full_version == "3.10.14"
poetry==1.8.3 ; python_full_version == "3.10.14"
pre-commit==3.7.1 ; python_full_version == "3.10.14"
prompt-toolkit==3.0.43 ; python_full_version == "3.10.14"
psutil==5.9.8 ; python_full_version == "3.10.14"
ptyprocess==0.7.0 ; python_full_version == "3.10.14"
pure-eval==0.2.2 ; python_full_version == "3.10.14"
pycparser==2.22 ; (sys_platform == "darwin" or implementation_name == "pypy") and python_full_version == "3.10.14" or sys_platform == "linux" and python_full_version == "3.10.14" and platform_python_implementation != "PyPy"
pygments==2.18.0 ; python_full_version == "3.10.14"
pyproject-hooks==1.1.0 ; python_full_version == "3.10.14"
python-dateutil==2.9.0.post0 ; python_full_version == "3.10.14"
pywin32-ctypes==0.2.2 ; sys_platform == "win32" and python_full_version == "3.10.14"
pywin32==306 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_full_version == "3.10.14"
pyyaml==6.0.1 ; python_full_version == "3.10.14"
pyzmq==26.0.3 ; python_full_version == "3.10.14"
rapidfuzz==3.9.0 ; python_full_version == "3.10.14"
requests-toolbelt==1.0.0 ; python_full_version == "3.10.14"
requests==2.31.0 ; python_full_version == "3.10.14"
ruff==0.4.4 ; python_full_version == "3.10.14"
secretstorage==3.3.3 ; sys_platform == "linux" and python_full_version == "3.10.14"
setuptools==69.5.1 ; python_full_version == "3.10.14"
shellingham==1.5.4 ; python_full_version == "3.10.14"
six==1.16.0 ; python_full_version == "3.10.14"
stack-data==0.6.3 ; python_full_version == "3.10.14"
tomli==2.0.1 ; python_full_version == "3.10.14"
tomlkit==0.12.0 ; python_full_version == "3.10.14"
tornado==6.4 ; python_full_version == "3.10.14"
traitlets==5.14.3 ; python_full_version == "3.10.14"
trove-classifiers==2024.4.10 ; python_full_version == "3.10.14"
typing-extensions==4.11.0 ; python_full_version == "3.10.14"
urllib3==2.2.1 ; python_full_version == "3.10.14"
virtualenv==20.26.1 ; python_full_version == "3.10.14"
wcwidth==0.2.13 ; python_full_version == "3.10.14"
xattr==1.1.0 ; sys_platform == "darwin" and python_full_version == "3.10.14"
zipp==3.18.1 ; python_full_version == "3.10.14"
